.card {
	background: #ffffff;
	border-radius: 0px;
	box-shadow: 0 3.42857px 23px rgb(0 0 0 / 10%);
	padding: 10px;
	margin: 10px;
}

.media {
	height: 0;
	padding-top: 56.25%;
	border-radius: 0px;
}

.hashTagStyle {
	background: #ffecb3;
	color: #b29537;
	text-decoration: none;
	text-transform: lowercase;
	border-radius: 0px;
	padding: 2px;
	margin-left: 15px !important;
}

.authorStyle {
	font-weight: 900;
}
