.container {
	padding: 20px;
	margin: 0 auto;
}

.MuiGrid-item {
	margin-top: 15px !important;
}
div[class^="MuiBox-root"] {
	padding: 20px 10px !important;
	/* margin: auto 10px; */
}

.margin-links {
	margin: 20px 0px;
}
