.MuiInputBase-root,
.MuiButtonBase-root {
	border-radius: 0 !important;
}

.cardPost {
	background: #fff im !important;
	border-radius: 0px;
	box-shadow: 0 3.42857px 23px rgb(0 0 0 / 10%);
	padding: 10px;
	margin: 15px 0px;
	align-items: center;
	text-decoration: none;
}

.postStyle {
	background: #fff !important;
	margin: 5px;
}

.MuiFilledInput-root {
	background-color: rgba(29, 196, 233, 0.1) !important;
}

.postBackground {
	background-color: rgba(29, 196, 233, 0.1) !important;
	margin: 10px 0px !important;
}
