.container {
	padding: 10px;
	margin: 0 auto;
}

.MuiGrid-item {
	margin-top: 15px !important;
}
div[class^="MuiBox-root"] {
	padding: 20px 0px !important;
	/* margin: auto 10px; */
}

.margin-links {
	margin: 20px 0px;
}

.MuiTypography-subtitle2 {
	font-weight: 900 !important;
	color: #3f4d67 !important;
	border-bottom: 2px solid #d500f9 !important;
}
