.aboutButton {
	background: linear-gradient(-135deg, #ffb74d, #ff8a65);
	color: #ffffff !important;
}
.followButton {
	background: linear-gradient(-135deg, #98f3ff, #00d4ff);
	color: #ffffff !important;
}
.analyticsButton {
	background: linear-gradient(-135deg, #e57373, #f06292);
	color: #ffffff !important;
}

.authorStyle {
	font-weight: 900;
}

.borderStyle {
	border-bottom: 1px dashed #e7e7e7;
}

.editButton {
	color: #e57373 !important;
}

.headerContainer {
	align-items: center !important;
	padding: 0px !important;
	margin-top: -20px;
	overflow: hidden;
}
